@(implicit reques: RequestHeader)


<!DOCTYPE html>
<html>
<head>


	<!-- DataTables CSS -->
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/css/demo_table.min.css">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<!-- jQuery -->
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<!-- Bootstrap -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> 
	<!-- DataTables -->
	<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
	<script type="text/javascript" charset="utf8" src="@routes.Assets.at("javascripts/dataTables.fnReloadAjax.js")"></script>
	

</head>
<body>

	<script type="text/javascript">
		var oTable;
		$(document).ready(function() {
			oTable = $("#user-table").dataTable( {
				"bProcessing": true,
				"aaSorting": [[ 0, "asc" ]],
				"bServerSide": true,
				"sPaginationType": "full_numbers",
				"sAjaxSource": "@routes.ApplicationController.list()"
			});
		});
	</script>


	<h1>Users</h1>

	<!-- Button trigger modal -->
	<button data-toggle="modal" data-target="#myModal">
		Create New User
	</button>
	
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Create New User</h4>
				</div>
				<div class="modal-body">

					Name: <input type="text" id="create-name"/><br />
					Phone: <input type="text" id="create-phone" /><br />

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary" data-dismiss="modal" id="create-button" >Create</button>
				</div>
			</div>
		</div>
	</div>

	<table id="user-table" class="display">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Phone</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Row 1 Data 1</td>
				<td>Row 1 Data 2</td>
				<td>etc</td>
				<td>etc</td>
			</tr>
		</tbody>
	</table>


	@helper.javascriptRouter("jsRoutes")(
		routes.javascript.ApplicationController.create,
		routes.javascript.ApplicationController.delete
	)

	<script>

	$("#create-button").click(function () {
		var name = $("#create-name").val()
		var phone = $("#create-phone").val()

		$.ajax(jsRoutes.controllers.ApplicationController.create(name, phone))
		.done(function (data) {
			oTable.fnReloadAjax();
		})
		.fail(function () {
			alert("Network or system error: User not deleted!") 
		});

	});


		$("#user-table").on("click", '.delete', function (event) {
			if (confirm("Are you sure?")) {
				var userId = $(this).attr('itemId');
				$.ajax(jsRoutes.controllers.ApplicationController.delete(userId))
					.done(function (data) {
						oTable.fnReloadAjax();
					})
					.fail(function () {
						alert("Network or system error: User not deleted!") 
					});
			}
			return false;
		});


	</script>

</body>
</html>


